.App {
  text-align: center;
}


.App-header {
  display:grid;
  background-color: #3b5a97;
  padding-top:  2em;
  padding-bottom: 2em;
  grid-template-columns: 3fr 1fr 1fr;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
