.App {
  text-align: center;
  background-color: #83aef2;
  height: 100%;
}
.homePage {
  height: 100px;
  background-color: #42d7f5;
}

.App-header {
  display:grid;
  background-color: #3b5a97;
  padding-top:  2em;
  padding-bottom: 2em;
  grid-template-columns: 3fr 1fr 1fr;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
.screenText {
  color: white;
  text-decoration: none;
}
.representText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.11em;
}
.App-body {
  background-color: #83aef2;
  height: 100%;
}
.registrationForm {
  font-size: 1.25em;
}
input::placeholder {
  font-size: 1.25em;
}